<!DOCTYPE html>
<html ng-app="conciliacaoApp">

<head>
	<meta charset="ISO-8859-1">
	<meta name="viewport" content="width=device-width, maximum-scale=1.0">
	<meta name="theme-color" content="#ffffff">

	<link rel="shortcut icon" href="/img/favicon-igam.gif">

	<style>
		.bg-whtie-smoke {
			background-color: whitesmoke;
		}
		
		.bg-igam {
			background-color: #00304F;
		}
		
		.vertical-align {
			margin-top: auto;
			margin-bottom: auto;
		}
		
		.marcador {
			background-color: #f7ff7a;
		}
	</style>

	<script src="/js/jquery/jquery.js"></script>
	<script src="/js/angular/angular.js"></script>
	<script src="/js/csv/papaparse.js"></script>
	<script src="/js/conciliacao/conciliacao.js"></script>
	<link rel="stylesheet" type="text/css" href="/bootstrap-4.2.1/css/bootstrap.css"></link>
	<script src="/bootstrap-4.2.1/js/bootstrap.min.js"></script>
	<title> Instituto Gamma de Assessoria a Órgãos Públicos | IGAM</title>
	<meta name="title" content="Instituto Gamma de Assessoria a Órgãos Públicos | IGAM">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
		crossorigin="anonymous"></script>

</head>

<body>

	<div class="container border border-secondary" ng-controller="ConciliacaoController as conciliacao">

		<div class="row bg-igam">
			<img src="/img/logo.png">

			<h2 class="text-white vertical-align">Conciliação bancária</h2>
		</div>

		<div class="d-print-none row p-4">

			<div class="col-sm-12 bg-igam text-white">
				<h2>Importar</h1>
			</div>

			<div class="col-sm-6 bg-whtie-smoke">
				<div class="form-group">
					<label for="extrato">
                                    Extrato :
                                </label>
					<input class="form-control-file" type="file" id="extrato">
				</div>

			</div>

			<div class="col-sm-6 bg-whtie-smoke">

				<div class="form-group">
					<label for="arquivo">
                                    Razão :
                                </label>
					<input class="form-control-file" type="file" id="arquivo">
				</div>

			</div>



			<div class="col-sm-12">

				<button ng-if="conciliacao.extrato||conciliacao.arquivo" ng-click="conciliacao.imprimirResultados()" class="btn btn-secondary float-right m-2" type="button" id="imprimir">Imprimir</button>

				<button  ng-click="conciliacao.limparJaConciliados()" class="btn btn-primary float-right m-2" ng-if="conciliacao.extrato&&conciliacao.arquivo"
					type="button" id="conciliar">Limpar conciliados</button>

				<button ng-if="conciliacao.extrato&&conciliacao.arquivo" ng-click="conciliacao.conciliar()" class="btn btn-primary float-right m-2"
					type="button" id="conciliar">Conciliar por valor</button>

				<button ng-if="conciliacao.extrato&&conciliacao.arquivo" ng-click="conciliacao.conciliarValorData()" class="btn btn-primary float-right m-2"
					type="button" id="conciliarValorData">Conciliar por valor e data</button>

				<button class="btn btn-secondary float-right m-2" type="button" id="carregar">Carregar arquivos</button>
				

			</div>
		</div>

		<hr ng-if="conciliacao.extrato&&conciliacao.arquivo"></hr>

		<div class="row mt-3">

			<div ng-if="conciliacao.extrato" class="col-sm-6">
				<div class="row d-flex align-items-end">
					<div class="col-sm-4">
						<h3 class="mb-0">Extrato</h3>
					</div>
					<div class="col-sm-8" >
						<span class=""> <strong>Saldo:</strong>{{conciliacao.saldoExtrato}}</span>
					</div>
				</div>
				<div class="table-responsive">
					<table id="tableExtrato" class="table table-striped table-sm">
						<thead>
							<tr>
								<!-- <th>Marcar</th> -->
								<th ng-repeat="descricao in conciliacao.cabecalhoExtrato track by $index">{{descricao}}
									<button ng-click="conciliacao.excluirColuna($index,'E')" type="button" class="d-print-none close" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
								</th>

							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="lista in conciliacao.extrato track by $index"
                                 ng-click="conciliacao.linhaExtratoClick($index)" style="cursor: pointer">
								<!-- <td><input type="checkbox" class="form-control"></input> </td> -->
								<td ng-repeat="valor in lista track by $index" >{{valor}}</td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>

			<div ng-if="conciliacao.arquivo" class="col-sm-6">
				<div class="row d-flex align-items-end">
					<div class="col-sm-4">
						<h3 class="mb-0">Razão</h3>
					</div>
					<div class="col-sm-8" >
						<span class=""><strong> Saldo:</strong>{{conciliacao.saldoArquivo}}</span>
					</div>
				</div>
				<div class="table-responsive">
					<table id="tableArquivo" class="table table-striped table-sm">
						<thead>
							<tr>
								<!--  <th>Marcar</th> -->
								<th ng-repeat="descricao in conciliacao.cabecalhoArquivo track by $index">{{descricao}}
									<button ng-click="conciliacao.excluirColuna($index,'A')" type="button" class="d-print-none close" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
								</th>

							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="lista in conciliacao.arquivo track by $index" ng-click="conciliacao.linhaArquivoClick($index)" style="cursor: pointer">
								<!-- <td><input type="checkbox" class="form-control"></input> </td> -->
								
                                <td ng-repeat="valor in lista track by $index" >{{valor}}</td>
							 </tr>

						</tbody>
					</table>
				</div>
			</div>

		</div>


	</div>
</body>

</html>